<section class="categories-carousel">
    <div class="categories-content">
        
        <div class="carousel-container">

            <div 
                class="category-item" 
                [class.active]="selectedCategory === 'Todos'"
                (click)="onFilter('Todos')" 
            >
                <div class="icon-box">
                    <svg viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="filter-icon all-icon">
                        <path d="M4 8H20" stroke="#F95596" stroke-width="2" stroke-linecap="round"/>                       
                        <path d="M4 12H20" stroke="#F95596" stroke-width="2" stroke-linecap="round"/>        
                        <path d="M4 16H20" stroke="#F95596" stroke-width="2" stroke-linecap="round"/>
                    </svg>
                </div>
                <span class="category-name">Todos</span>
            </div>
            
            @for (category of tripCategories; track category.id_category) { 
                <div 
                    class="category-item" 
                    [class.active]="selectedCategory === category.name"
                    (click)="onFilter(category.name, category.id_category)" >
                    <div class="icon-box">
                        <img 
                            [src]="'assets/' + category.photo" 
                            [alt]="category.name + ' icon'" 
                            class="filter-icon"
                        />
                    </div>
                    <span class="category-name">{{ category.name }}</span>
                </div>
            }

        </div>
    </div>
</section>