<div class="inicio">
    <div class="web-frame">
        
        @if (trip) {
            <div class="trip-detail-container">
                
                <div class="trip-header-section">
                    
                    <div class="trip-image-wrapper">
                        
                        <div 
                            class="blur-layer"
                            [style.backgroundImage]="'url(' + trip.images[currentImageIndex] + ')'">
                            </div>

                        <div class="carousel-track" 
                             [style.transform]="'translateX(' + (-currentImageIndex * 100) + '%)'">
                            
                            @for (imageUrl of trip.images; track $index) {
                                <div class="carousel-slide-content">
                                    <img 
                                        [src]="imageUrl" 
                                        alt="Imagen del Viaje {{ $index + 1 }}" 
                                        class="trip-main-image">
                                </div>
                            }
                        </div>

                        @if (trip.images.length > 1) {
                            <button class="arrow prev" (click)="prevSlide()">
                                &#10094; </button>
                            <button class="arrow next" (click)="nextSlide()">
                                &#10095; </button>
                        }
                    </div>        
                    </div>
                
                <div class="trip-description-card">
                    <h2 class="description-card-title">{{ trip.title }}</h2>

                    <div class="organizer-info-block">
                        <div class="organizer-header-inline">
                            <img src="" alt="Logo del Guía Turístico" class="organizer-logo-inline">
                            <div class="organizer-details-inline">
                                <span class="organizer-label-inline">ORGANIZADO POR</span>
                                <span class="organizer-name-inline">{{ trip.organizerUsername }}</span>
                            </div>
                        </div>
                        <div class="attendees-tag">
                            <span class="attendees-count-inline">8.2k viajeros satisfechos</span>
                            <svg class="graph-icon-inline" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
                            </svg>
                        </div>
                    </div>
                    
                    <div class="rating">
                        <span class="star filled">&#9733;</span>
                        <span class="star filled">&#9733;</span>
                        <span class="star filled">&#9733;</span>
                        <span class="star filled">&#9733;</span>
                        <span class="star empty">&#9734;</span>
                    </div>
                    
                    <h3 class="description-subtitle">Descripción del viaje</h3>
                    <p class="description-text" [innerHTML]="trip.description">
                    </p>
                    @if (categoryName) {
                    <div class="trip-categories" 
                      >
                        <a class="category-tag"
                          [routerLink]="['/viajes']"
                          [queryParams]="{ category: trip.categoryId }">{{ categoryName }}</a>
                    </div>
                }
                </div>
                
                <div class="trip-right-column">
                    <div class="trip-booking-card">
                        <div class="booking-info">
                            <div class="booking-item">
                                <span class="booking-label">Fecha de inicio:</span>
                                <span class="booking-value">{{ trip.startDate }}</span>
                            </div>
                            <div class="booking-item">
                                <span class="booking-label">Duración:</span>
                                <span class="booking-value">3 días / 2 noches</span>
                            </div>
                            <div class="booking-item price-item">
                                <span class="booking-value price">{{ trip.estimatedBudget  }} €</span>
                                <span class="booking-label">por persona</span>
                            </div>
                        </div>
                        <div class="booking-price">
                            <span class="booking-label">PLAZAS LIMITADAS (Máx: {{ trip.maxCapacity }})</span>

                        </div>
                        @if (!authService.isLogged()) {
                            <button [routerLink]="['/login']" class="reserve-button">
                                Únete para reservar tu plaza
                            </button>
                        }@else {
                            @if(hasParticipated===null) {

                            }
                            @else if(hasParticipated) {
                                <button (click)="onCancelParticipation()" class="reserve-button">
                                    Cancelar Viaje
                                </button>
                            }@else {
                                <button class="reserve-button" (click)="onSubmit()">Reservar mi viaje</button>

                            }

                        }

                    </div>

                    <div class="trip-itinerary-card">
                        <div class="location-header itinerary-header">
                            <svg class="location-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M8 6h13M8 12h13M8 18h13M3 6h.01M3 12h.01M3 18h.01"></path>
                            </svg>
                            <span class="location-name">ITINERARIO DEL VIAJE</span>
                        </div>
                        <div class="itinerary-list">
                            @for (item of trip.itineraryActivities; track $index) {
                                <div class="itinerary-item">
                                    <div class="itinerary-time-location">
                                        <span class="itinerary-date">{{ item.date | date:'EEE. d MMM':'':'es'  }}</span>
                                        
                                        @if (item.time) {
                                            <span class="itinerary-time">{{ item.time.slice(0, 5) }}</span>
                                        }
                                    </div>
                                    <p class="itinerary-activity-name">{{ item.activity }}</p>
                                    
                                    @if (item.location) {
                                        <p class="itinerary-destination">{{ item.location }}</p>
                                    }
                                </div>
                            } @empty {
                                <div class="itinerary-item">
                                    <p class="itinerary-activity-name">Itinerario no disponible.</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        } @else {
            <div class="loading-message" style="text-align: center; padding: 50px;">
                Cargando detalles del viaje...
            </div>
        }
    </div>
</div>