<div class="web-frame">
    <section class="hero">
        <div class="hero-text-content"> 
            @if (!authService.isLogged()) {
                <h1 class="hero-title">
                    <span>Abre la puerta a tu</span>
                    <span>próxima gran </span>
                    <span><span class="gradient-text">aventura</span>.</span>
                </h1>
            }
            @if (authService.isLogged()) {
                <h1 class="hero-title">
                    <span>Tu próxima <span class="gradient-text">aventura</span></span>
                    <span>te está esperando. </span>
                    <span><span class="gradient-text">Únete</span></span>
                </h1>
            }
            <div class="hero-actions">
                @if (!authService.isLogged()) {
                    <button class="cta-button cta-main" [routerLink]="['/auth/register']">Crea tu cuenta</button>
                    <button class="cta-button cta-secondary" [routerLink]="['/auth/login']">Inicia sesión</button>
                }
                @if (authService.isLogged()) {
                    @if (authService.role=='user') {
                        <button class="cta-button cta-main" [routerLink]="['/trips/mis-viajes']">Explora tus viajes</button> 
                    } @else {
                        <button class="cta-button cta-main" [routerLink]="['/trips/create-trip']">Crea tu propio viaje</button> 
                    }
                }
            </div>
        </div>
        <div class="hero-image">
            <img src="assets\Famous-cityscape-view-of-St-Peters-basilica-in-Rome-at-sunset-Italy (1).webp" alt="Music Trip" class="hero-img">
        </div>
    </section>

    <section class="categories-carousel">
        <div class="categories-content">
            <div class="carousel-container">
                @if (isCategoriesLoading) {
                    @for (_ of [0,1,2,3,4,5,6,7,8]; track _) {
                        <div class="category-item-skeleton">
                            <div class="icon-box-skeleton"></div>
                            <div class="category-name-skeleton"></div>
                        </div>
                    }
                }
                @if (!isCategoriesLoading) {
                <!-- Botón "Todos" -->
                <div 
                    class="category-item" 
                    [class.active]="isCategoryActive()"
                    (click)="onFilter()"
                >
                    <div class="icon-box">
                        <svg viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="filter-icon all-icon">
                            <path d="M4 8H20" stroke="#F95596" stroke-width="2" stroke-linecap="round"/>
                            <path d="M4 12H20" stroke="#F95596" stroke-width="2" stroke-linecap="round"/>
                            <path d="M4 16H20" stroke="#F95596" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <span class="category-name">Todos</span>
                </div>
                
                <!-- Categorías dinámicas -->
                @for (category of tripCategories; track category.id_category) { 
                    <div 
                        class="category-item" 
                        [class.active]="isCategoryActive(category.id_category)"
                        (click)="onFilter(category.id_category)"
                    >
                        <div class="icon-box">
                            <img 
                                [src]="'assets/' + category.photo" 
                                [alt]="category.name + ' icon'" 
                                class="filter-icon"
                            />
                        </div>
                        <span class="category-name">{{ category.name }}</span>
                    </div>
                }
            }
            </div>
        </div>
    </section>

    <section class="trips-section">
        <section class="time-filter-section">
            <div class="time-filter">
                <select title="filter-time" [(ngModel)]="selectedTimeFilter" (change)="onTimeFilterChange()">
                    <option value="">Todos</option>
                    <option value="soon">Más próximos</option>
                    <option value="far">Más lejanos</option>
                    <option value="week">Esta semana</option>
                    <option value="month">Este mes</option>
                </select>
            </div>
    </section>
        
        <div class="trips-grid">
            @if (isLoading) {
        @for (_ of [0,1,2,3,4,5,6,7,8,9,10,11]; track _) {
            <div class="trip-card-skeleton">
                <div class="trip-image-skeleton"></div>
                <div class="trip-content-skeleton">
                    <div class="trip-title-skeleton"></div>
                    <div class="trip-dates-skeleton"></div>
                    <div class="trip-footer-skeleton">
                        <div class="trip-price-skeleton"></div>
                        <div class="trip-spots-skeleton"></div>
                    </div>
                </div>
            </div>
        }
            }
            @if (!isLoading && paginatedTrips.length === 0) {
                <img 
                    src="./assets/images/trips-not-available.png" 
                    alt="trips-not-available"
                    class="empty-state-image" 
                >
                <p class="empty-message">No hay viajes disponibles en este momento.</p>
            }
            @if (!isLoading && paginatedTrips.length > 0) {
                @for (trip of paginatedTrips; track trip.idTrip) { 

                        <div class="trip-card" [routerLink]="['/trips', trip.idTrip]" >

      <div class="trip-image-container">
        <img [src]="getCoverImage(trip)" [alt]="trip.title" class="trip-image" [style]="'view-transition-name: trip-img-' + trip.idTrip">

      </div>

      <div class="trip-content">
        <h3 class="trip-title">{{ trip.title }}</h3>

        <p class="trip-dates">
          {{ trip.startDate | date:'dd MMM yyyy' }} - 
          {{ trip.endDate | date:'dd MMM yyyy' }}
        </p>

        <div class="trip-footer">

          <div class="trip-price-info">
            <div class="trip-price">{{ trip.estimatedBudget | number:'1.0-0' }}€</div>
            <div class="price-label">por persona</div>
          </div>

          <div class="trip-spots">
            @if(trip.maxCapacity) {
            {{ trip.maxCapacity - (trip.participations?.length ?? 0) }} plazas

            }@else {
                PLAZAS ILIMITADAS
            }
          </div>

        </div>
      </div>

    </div>

      
                }
            }
        </div>

        @if (totalPages > 1) {
            <div class="pagination-controls">
                <button 
                    class="page-btn nav-btn"
                    [disabled]="displayCurrentPage === 1"
                    (click)="changePage(displayCurrentPage - 1)"
                >
                    &larr; Anterior
                </button>

                @for (page of getPageNumbers(); track page) {
                    <button
                        class="page-btn"
                        [class.active]="page === displayCurrentPage"
                        (click)="changePage(page)"
                    >
                        {{ page }}
                    </button>
                }

                <button 
                    class="page-btn nav-btn"
                    [disabled]="displayCurrentPage === totalPages"
                    (click)="changePage(displayCurrentPage + 1)"
                >
                    Siguiente &rarr;
                </button>
            </div>
        }
    </section>
</div>